src/org/sw/marketing/data/roleSchema/schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="role">												
		<xs:complexType>
			<xs:sequence>
				<xs:element name="id" type="xs:long" />
				<xs:element name="type" type="xs:string" />
				<xs:element name="email" type="xs:string" />
				<xs:element name="fkId" type="xs:long" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>